*
        box-sizing: border-box

body 
    margin: 0
    font-family: 'Helvetica'
    background-image: url(/photos/bg2.png)
    background-size: 100vw 
    background-attachment: fixed

input, textarea, button
        font-family: 'Helvetica'
